/*palette: #040421 #282F46 #BCC4DD #FA6B13 #FCA637 #FFDD7C */

@font-face {
font-family: "Gro1";
src: url("fonts/couriercyrps_bold.ttf");
}
@font-face {
font-family: "Gro3";
src: url("fonts/couriercyrps.ttf");
}
@font-face {
font-family: "Gro2";
src: url("fonts/Blacker Valentine.ttf");
}
img{ border-radius:25px; margin:10px;}
body{background-color:#000000;
width:100%;
margin-top:0px;
margin-left:0px;
overflow-x: hidden;}
header{display:flex;justify-content: space-around;
		height:73px;
		width: 100%;
		background-color: #000000;
		position:fixed;
		top:0px;
		Z-INDEX:7;
		opacity:100%;
		}
header button{height:33px; width:303px; margin-right:10%; margin-left:10px;}
header p{margin-left:none; padding-bottom:15px; margin-top:-10px;}
header a{color:white; font-family: Gro1; font-size:18px;  margin-left:10px; padding-bottom:-5px;}
header img{ padding:0px; margin:0px; border-color: none; height:60px; width:auto;
			margin-left:10%; margin-right:3%; border-radius:8px;
			margin-left:3%; height:35px;}
header a img:hover{opacity:50%;}

.mT{position:relative;Z-INDEX:2; importance:'high';
	top:60px;
  height: 490px;
  width: 100%;
  overflow-x:none;
  background: url('img/0.jpg') no-repeat center center fixed;
background-size: cover;
display:flex;justify-content: center;align-items:center;flex-direction:column;}
.mT img{padding:0px; width:250px;height:auto;border-color:#F2BD53; border-radius:125px;
		margin:0px; margin-top:550px; box-shadow: 0 0 10px rgba(0,0,0,0.7); }
.mT button{width:450px;margin:10px;}
.mT h1{	display:flex;justify-content: center;align-items:center;flex-direction:column;
		box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);	
		background-color:black;
		padding:30px;
		border-radius:20px;
		}

.mK{MARGIN-TOP:60PX; importance:'high';
display:flex;justify-content: center;align-items:center;flex-direction:column;
width: 100%; background-color:#000000;}
.mK p{MARGIN-TOP:0PX;}
.mK1{MARGIN-TOP:60PX;
display:flex;justify-content: center;align-items:center;flex-direction:column;
width: 100%; background-color:#000000;}



.Ill,.Sto{MARGIN-TOP:0PX;	Z-INDEX:12;
display:flex;justify-content: center;align-items:center;flex-direction:column;
width: 100%;
background-color: #000000;}
.Ill img,.Sto img{width:626px; height:336px;border-radius:25px;	Z-INDEX:13;}


.mAIL{display:flex;justify-content: center;
width:100%;background-color:#000000;}
.mAIL img{width:40px;padding:0px;border-radius:0px; border-style: none;margin:0px;
			height:auto;}
.mAIL h1{color:#FFDD7C;margin-bottom:0px;}
.mAIL p {color:#BCC4DD;}
.mAil button{margin-top:10px;margin-bottom:30px;}
.fORM{display:flex;flex-direction:column;justify-content: center;align-items:center;width:60%;}


footer {display:flex;
		justify-content: space-around;
		align-items:center;
		height:73px;
		width: 100%;
		background-color: #000000;
		position:static;
		bottom:0px;
		Z-INDEX:12;
		border-top:solid #FA6B13 3px;}
footer button{height:33px; width:303px; margin-right:10%; margin-left:10px;}
footer p{margin-left:none; padding-bottom:25px;}
footer a{color:white; font-family: Gro1; font-size:18px;  margin-left:10px; padding-bottom:-5px;}
footer img{ padding:0px; margin:0px; border-color: none; height:60px; width:auto;
			margin-left:10%; margin-right:3%; border-radius:8px;}

			
			

p {color:#ffffff;font-size:16px;  padding-top:30px; width:50%;
font-style:regular;font-weight:400;
									margin-top:4px;
									margin-bottom:4px;
font-family: 'Gro3';
text-indent: 30px;	}
p a{color:#FCA637;}



button{border-radius:30px;border-style: solid 7px;  border-color: #191A1E;
	background-color:#F2BD53; color:#191A1E;
	width:70%; height:50px; font-size:20; fon-weight:900;
	font-family: 'Gro1';}
button:hover{background-color:#191A1E;color:#F2BD53;border-color:#F2BD53;}
input{height:36px;margin:10px; width:70%; border-radius:30px;
	padding-left:30px;
	font-family: 'Gro3';}
iframe{width: 75%; height: 600px; border-radius:30px; padding:10px;  border-style: solid;
  border-color: #CDD5CA;}

hr{margin:0px;background-color:#F2BD53;border:none;height:10px;}

h1{color:#FFDD7C;
font-family: 'Gro1';}
h2{color:#FA6B13;
font-size:16px;
font-family: 'Gro3';}


a{text-decoration:none;}
a:hover{color:#FA6B13;}

video{width:80%; max-height:720px; border:solid white 2px; margin-left:10%;
		border-radius:25px; 	margin-top:80px;
		}


* {
  box-sizing: border-box;
}

.black{background-color: #191A1E; margin-bottom:-20px; height:50px;}


  
.Forimg{width: 626px; height: 326px; border-radius:25px;
		margin:10px; box-shadow: 0 0 10px rgba(0,0,0,0.7); }
.Forimg img{width:626px; height:326px; margin:0px;}
.bl {	opacity:50%;
		display:flex;
		justify-content:center;
		color:rgba(0, 0, 0, 0.0);
		font-family:'Gro1'; font-size:24px;
		margin-top:-326px;
		padding-top:160px;
		background-color:none;
		width: 626px; height: 326px; border-radius:25px;
		}
.bl:hover {
		opacity:99%;
		color:#FFDD7C;
		margin-top:-326px;
		padding-top:145px;
		background-color:rgba(0, 0, 0, 0.65);
		width: 626px; height: 326px; border-radius:25px;}
 
.InLine, .InLine1 {display:flex;justify-content: center;align-items:center;flex-direction:row;}
.InCol {		display:flex;justify-content: center;align-items:center;flex-direction:column;}
.InCol_1 {	display:flex;justify-content: center;align-items:center;flex-direction:column; 			Z-INDEX:11;
			background-color:black;
			width: 600px;
			}	
.InCol_1 p{ width:80%;}
	
.InRow{	display:flex;
		flex-wrap: wrap;
		margin-top:40px;
		justify-content: center;}
.InRow_1{	display:flex; Z-INDEX:11;
		flex-wrap: wrap;
		margin-top:0px;
		border-bottom:solid black 40px;
		justify-content: center;}
.dungeon{	background-color:black;
			width:100%;
			Z-INDEX:13;}
.Ins_Rask{display: flex;																			Z-INDEX:11;
			width: 620px;
			justify-content: flex-start;  flex-flow: row nowrap;color: #0f0f0f;text-align: center;
		   background-color:black;}		
#In_Line1{display:flex;flex-direction:row;margin-bottom:10px;justify-content:flex-start;
			width:550px;}
#In_Line2{display:flex;flex-direction:row;margin-bottom:10px;justify-content:flex-start;
			width:1300px;
			align-items:center;
			margin-bottom:150px;}
.ForSli{width: 550;
		height: 750px;
		background-color:black;
		}
		
.ForImg{	}
.ForImg img{width: 500px; width: 85%;
		height: auto;}
	.slides1, .slides2, .slides3, .slides4, .slides5, .slides6, .slides7{}


.NexSli{	color:#f77f00;}
.PreSli{	color:#f77f00;}
.buttons{	color:white;font-size: 24px; padding:10px; display:flex; flex-direction:column; justify-content:center;
			background-color:none;	opacity:50%;}
.buttons:hover{color:white; opacity:100%;}
.buttons2{color:white;font-size: 24px; padding:10px; display:flex; flex-direction:column; justify-content:center;
			background-color:none; height:1290px;}
.buttons2:hover{color:black; background-color:white; opacity:30%;}
.button{font-size: 16px;}
	

#In_Line{display:flex;flex-direction:row;margin-bottom:10px;justify-content:flex-start;}
					
						
.Gallery {	width:20%;
			height:100px;
			background-color: red; }		

.Forimg22{width: 626px; height: 326px; border-radius:25px;
		margin:10px; box-shadow: 0 0 10px rgba(0,0,0,0.7); }
.Forimg22 img{width:626px; height:326px; margin:0px;}			 
			 
			 
			 





.Flg{	width:100%;
		margin-bottom:80px;
		}
.InRow3{	display:flex;
		flex-wrap: wrap;
		margin-top:0px;
		justify-content: center;}

.InCol3 {display:flex;justify-content: center;align-items:center;flex-direction:column;}
.cont{	width:450px; height:450px;		}

.F1,.F2,.F3, .F4{width:200px;height:200px;margin:10px;
	background: url('img/0.jpg') no-repeat center center;
	background-size: cover;   overflow-x:none; border-radius:25px;
	
	display:flex;
	justify-content: center;align-items:center;flex-direction:column;
	}
.F2{width:420px;height:420px;}
.F3{width:420px;height:200px;}			 
.F4 {width:200px;height:420px;}	 

.F1 .bl,.F2 .bl,.F3 .bl,.F4 .bl{width:100%; height:100%;margin:0px; }


.F1 .bl img,.F2 .bl img,.F3 .bl img,.F4 .bl img{width:100px;height:100px; border-radius:0px; opacity:0%;}
.F1 .bl img, .F3 .bl img{margin-top:-95px;}

.F1:hover .bl img,.F2:hover .bl img,.F3:hover .bl img,.F4:hover .bl img{opacity:100%;}

			 
.text0{	display:flex; margin:0px;
		flex-wrap: wrap;
		justify-content: center;
		}
.text1{width:700px; }
.text1 h2, .text2 h2,.text1 p, .text2 p{width:100%;}
.text2{width:500px;
		padding-left:10%;
		padding-top:20px;}


.X{		position:fixed; Z-INDEX:25;
		top:20px;
		right:50px;
		color:white;
		font-size:30pt;
		padding:10px;
		padding-left:20px; padding-right:20px;
		border-radius:10px;
		opacity:50%;
		display:none;
		}
.X:hover{	opacity:100%;}

.FixFlex{	display:flex;
		height:100%;
		width: 100%;
		background-color:  rgba(0, 0, 0, 0.7);
		position:fixed;
		top:0px;
		Z-INDEX:12;
		justify-content:center;justify-content: space-around;
		align-items:center;
			display:none;
			}
.FixFlex.Ins_Rask{	Z-INDEX:11;
			display:flex;
			justify-content:center;
			align-items:center;
			
		   background-color:none;	}
			

.ForImg1 img{	display:flex;
			justify-content:center;
			align-items:center;
			}
			
.ForSli{	background-color:none;		}
		
.ForImg1{}
.ForImg1 img{	height: 99%;width: auto;
				}

.buttonsX2,.buttonsX1{	color:white;font-size: 24pt; padding:10px;
			background-color:none;
			Z-INDEX:13;
			position:fixed; 
			height:100%;width:300px;
					display:flex;
					flex-direction:column;
					justify-content:center;
					align-items:center;
			opacity:50%;
			top:0px;
			}					
.buttonsX1{left:0px;}						
.buttonsX2{right:0px;}
.buttonsX2:hover,.buttonsX1:hover{color:white; background-color:none; opacity:100%;}
					
.hh{margin-top:10px; width:100%;}
.hh p{}

#hp1,#hp2,#hp3{	background-color:rgba(0, 0, 0, 0.7); width:150%;
				padding:20px; border-radius:0px 0px 15px 15px;
				display:flex; flex-direction:column;
				display:none;
				}
#hp1 hr,#hp2 hr,#hp3 hr{height:1px; margin-top:-25px; margin-bottom:15px;}						
#hp1 a,#hp2 a,#hp3 a{	font-size:12pt;text-indent: 0px;
					margin-bottom:5px;}						
						
#men4{	position:fixed; Z-INDEX:150;			display:none;
		top:40px; right:40px;					/*	Border:solid white 2px;	*/
		background-color:black;
		padding:10px;
		border-radius:20px;}
#men4 img{	border-radius:0px;
			width:70px; height:70px;
			background-color:black;}		
#men3{	position:fixed; Z-INDEX:149;			display:none;
		top:0px; right:0px;
		background-color:rgba(0, 0, 0, 0.8);
		padding-top:100px;
		padding-right:150px;
		padding-left:150px;
		padding-bottom:200px;
		border-radius: 0px 0px 0px 25px;
		}					
#men3 hr{height:3px;}						
						
						
						
						
						
				
						
						

/* iPhone 6, 6S, 7, 8, SE 2020 (портретный режим) */
@media only screen and (orientation: portrait) and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
p {	font-size:36px; width:85%;
									margin-top:25px;
									margin-bottom:15px;
	text-indent: 80px;
									}
#men4{display:block;}
.hh h1{font-size:40px;}
.hh h1 a{color:#FCA637 ;}
.hh p {font-size:36px; 	margin:0px; margin-bottom:3px; text-indent:0px; }
.hh p a{color:white;}

#hh #hp1 a,#hh #hp2 a,#hh #hp3 a{font-size:40px;}
#men3{			display:none;}

h1 {font-size:42px; width:85%;}
h2 {font-size:48px; /* padding-left:20%;  padding-right:10%; */
	width:85%;}

header {height:200px; Z-INDEX:20;
		display:flex;
		display:none;
		justify-content: space-around;
		align-items:center;
		}
header a {font-size:44px; margin-left:0%;}
header img { width:180px; height:130px; margin-right:50px;}
header p{display:none; margin:0px;}

footer {height:200px;
		display:flex;
		justify-content: space-around;
		align-items:center;
		}
footer a {font-size:44px; margin-left:0%;}
footer img { margin-right:50px; width:150px; height:auto;}
footer p{display:none; margin:0px;}

.ForImg {margin:27px;}
.prev, .next {width:250px; height:250px; font-size:48px;
				position:absolute;
				top:30%;
				background-color: rgba(0, 0, 0, 0.05); }
.prev, .next:hover {background-color: rgba(0, 0, 0, 0.00);}
.container {margin-left:2%;}
.mySlides {}
.prev {margin-right:-200px;}

.numbertext {display:block;font-size:44px;}
input, button{	font-size:44px; width:700px; height:auto;margin-top:27px;
			margin-bottom:27px}
.form button {height:120px; margin-top:100px;}

.InLine img{width:160px;margin:0px;}
.InLine a{width:160px; height:160px; border-radius:30px; border:none;
			margin:42px; margin-top:60px;
			padding:0px;			}
.mT img {width:460px; height:auto; margin-top:1100px;
		border-radius:230px;}
.mT{
	margin-top:-45px;
	background: url('img/0.jpg') no-repeat center center;
	height:1300px;
	background-size: cover;}

.mT h1{	font-size:46pt; padding:60px; width:800px;
		box-shadow: 24px 24px 4px 2px rgba(0, 0, 255, .2);}
.mT a{margin-top:300px;}


.text2{padding:0px;}

.Gallery{display:none;}

	
.InCol_1 {display:flex;justify-content: center;align-items:center;flex-direction:column; Z-INDEX:11; background-color:black;
			width: 900px;}
.InCol_1 p{font-size:36px;}
.InRow_1{	display:flex; Z-INDEX:11;
		flex-wrap: wrap;
		margin-top:0px;
		justify-content: center;}

		
.Ins_Rask{display: flex;																			Z-INDEX:11;
			width: 100%;
			justify-content: flex-start;  flex-flow: row nowrap;color: #0f0f0f;text-align: center;
		   background-color:black ;}		
#In_Line1{display:flex;flex-direction:row;margin-bottom:10px;justify-content:flex-start;
			width:100%;}
.ForSli{width: 100%;
		height: 1200px;
		background-color:black;
		}
		
.ForImg{	}
.ForImg img{	width: 130%;
			height: auto;}
	.slides1, .slides2, .slides3, .slides4, .slides5, .slides6, .slides7{}


.NexSli{	color:#f77f00;}
.PreSli{	color:#f77f00;}
.buttons{color:white;font-size: 64px; padding:15px; display:flex; flex-direction:column; justify-content:center;
			background-color:none;}
.buttons:hover{color:#f77f00; background-color:none;}
.button{font-size: 16px;}
					
.Forimg22{width: 900px; height: 468px; border-radius:50px;
		margin:10px; box-shadow: 0 0 10px rgba(0,0,0,0.7); }
.Forimg22 img{width:100%; height:468px; margin:0px;border-radius:50px;}

.bl {width:900px; height:468px;}
.bl:hover {width:100%; height:468px; margin:0px; display:none;}

.buttonsX1,.buttonsX2{font-size:50pt;}


.X{		top:250px;
		right:50px;
		font-size:50pt;
		
		padding:25px;
		padding-left:40px; padding-right:40px;}

.buttonsX2:hover,.buttonsX1:hover{color:black; background-color:white; opacity:1%;}

.ForImg1 img{	width:99%;	height: auto;
				}
}
